/* NEW BryanHull.com Home Page for 2019. Created by Bryan Hull in February 2019 */

/* BASICS */

body{
background-color:#ffcdf3;
background-image: url("bg.jpg");
background-repeat: no-repeat;
background-position: center;
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}

/* TEXT */

body, input, select, textarea {
color: #333333;
font-family: "Josefin Sans", sans-serif;
font-weight: 300;
line-height: 1.65;
letter-spacing: 2px;
}

h1, h2, h3, h4, h5{
margin: 15px;
}

p{
margin: 15px;    
}

a{
-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
color: inherit;
font-size:10px;
}

a:hover {
color: hotpink;
text-decoration: none;
}

#nav-item, a{
font-size:18px;    
text-transform: uppercase;    
}

.btn{
    letter-spacing: 2px;
}

.social-link{
	margin-right: 15px;
	font-size: .75rem;
}

/* ELEMENTS */

#footer{
background-color: #333333;            
color: white;
margin-top: 40px;
height: 100%;
text-transform: uppercase;
font-size: 10px;
}

#sitecontent{
	margin-bottom:150px;
}


